@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.content-wrapper {
  width: 100%;
  max-width: 1000px;
  font-size: 14px;
  margin: 0 auto;
}

/* === Header === */
header.header-section {
  background-color: #ffffff;
}
header.header-section .header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  padding: 20px 0;
  font-size: 1.1em;
  text-transform: uppercase;
}
header.header-section .header-wrapper .header-left h1 {
  font-size: 1.3em;
  font-weight: bold;
  color: #439c95;
}
header.header-section .header-wrapper .header-right * {
  display: inline-block;
}
header.header-section .header-wrapper .header-right .header-nav ul li {
  padding: 0 15px;
}
header.header-section .header-wrapper .header-right .header-nav ul li a {
  text-decoration: none;
  color: #000000;
}
header.header-section .header-wrapper .header-right .header-nav ul li .selected-page {
  font-weight: 600;
  color: #eb7439;
}
header.header-section .header-wrapper .header-right .header-telephone {
  margin-left: 40px;
}
header.header-section .header-wrapper .header-right .header-telephone p {
  font-weight: bold;
}

/* === Presentación === */
section.titles-section {
  min-height: 400px;
  background-image: url("https://cbrown7752.github.io/echo-development/banner.jpg");
  background-size: cover;
  background-position: center;
}
section.titles-section .titles {
  padding: 120px 200px 30px 200px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
}
section.titles-section .titles h2 {
  font-size: 3.5em;
  margin-bottom: 30px;
  font-weight: 500;
}
section.titles-section .titles p {
  line-height: 2em;
}

/* === Servicios === */
section.services-section {
  min-height: 350px;
  background-color: #ffffff;
}
section.services-section .services-wrapper {
  min-height: 350px;
  padding: 50px 0 30px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
section.services-section .services-wrapper .services {
  max-width: 300px;
  padding: 10px;
}
section.services-section .services-wrapper .services h3 {
  text-align: center;
  font-weight: 800;
  font-size: 1.1rem;
  color: #000000;
  line-height: 3em;
}
section.services-section .services-wrapper .services p {
  text-align: justify;
  text-justify: inter-character;
  line-height: 1.5em;
}
section.services-section .services-wrapper .services .service-icon-circle {
  background: #439c95;
  border-radius: 50%;
  color: #fff;
  height: 5em;
  width: 5em;
  margin: 0 auto;
}
section.services-section .services-wrapper .services .service-icon {
  font-size: 2em;
  text-align: center;
  line-height: 2.4em;
}

/* === Portfolio === */
section.portfolio-section {
  min-height: 600px;
  background-color: #ead8c6;
}
section.portfolio-section .portfolio-wrapper {
  display: flex;
  flex-direction: column;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume {
  padding: 70px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-left p:first-of-type {
  font-size: 0.9em;
  opacity: 50%;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-left h2 {
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-left p:last-of-type {
  font-size: 1rem;
  line-height: 1.5em;
  text-align: justify;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-img img {
  margin-left: 120px;
  max-width: 450px;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-link {
  margin-top: 30px;
  max-width: 250px;
}
section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-link a {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #439c95;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 700;
}
section.portfolio-section .portfolio-wrapper .portfolio-examples {
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.portfolio-section .portfolio-wrapper .portfolio-examples .portfolio-example {
  min-width: 300px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  line-height: 1.8em;
  text-transform: uppercase;
  background-color: #ffffff;
}
section.portfolio-section .portfolio-wrapper .portfolio-examples .portfolio-example h2 {
  padding-top: 20px;
  font-weight: 700;
  font-size: 0.7rem;
}
section.portfolio-section .portfolio-wrapper .portfolio-examples .portfolio-example h3 {
  font-weight: 900;
  font-size: 1.5rem;
}
section.portfolio-section .portfolio-wrapper .portfolio-examples .portfolio-example:last-of-type {
  background-color: #000000;
  color: #ffffff;
}

/* === News === */
section.news-section {
  min-height: 350px;
  background-color: #ffffff;
  text-decoration: none;
}
section.news-section .news-wrapper {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
section.news-section .news-wrapper .post-nav {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
}
section.news-section .news-wrapper .post-nav h2 {
  font-size: 1.1em;
  font-weight: 700;
}
section.news-section .news-wrapper .post-nav a {
  text-decoration: none;
  color: #439c95;
  font-size: 0.7rem;
}
section.news-section .news-wrapper .post-nav .link-divisor {
  margin: 0 5px 0 10px;
  background-color: #eb7439;
  height: 0.7rem;
  width: 0.1rem;
}
section.news-section .news-wrapper .post-nav-divisor {
  height: 5px;
  width: 65px;
  background-color: #eb7439;
  margin-bottom: 15px;
}
section.news-section .news-wrapper .post {
  border: 1px solid black;
  min-height: 200px;
  max-width: 300px;
}
section.news-section .news-wrapper .post .post-image {
  min-height: 80px;
  background-color: #484848;
  position: relative;
  background-image: url(https://source.unsplash.com/640x480/?creative);
  background-size: 100%;
  background-position: center;
}
section.news-section .news-wrapper .post .post-image time {
  color: #f5f5f5;
  font-size: 0.7rem;
  padding: 5px 10px;
  background-color: rgba(201, 201, 201, 0.342);
  position: absolute;
  bottom: 0;
}
section.news-section .news-wrapper .post .post-text {
  padding: 15px 10px;
}
section.news-section .news-wrapper .post .post-text h2 {
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 10px;
}
section.news-section .news-wrapper .post .post-text p {
  line-height: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.news-section .news-wrapper .post .post-text a {
  text-transform: uppercase;
  text-decoration: none;
  color: #439c95;
  font-weight: 600;
  font-size: 0.7rem;
}

/* === Footer === */
footer.footer-section {
  min-height: 250px;
  background-color: #ead8c6;
}
footer.footer-section .footer-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
footer.footer-section .footer-wrapper .left-footer {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  white-space: nowrap;
}
footer.footer-section .footer-wrapper .left-footer .company-information {
  width: 100%;
}
footer.footer-section .footer-wrapper .left-footer .company-information h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  color: #439c95;
}
footer.footer-section .footer-wrapper .left-footer .company-information address {
  white-space: pre-line;
  margin-bottom: 25px;
}
footer.footer-section .footer-wrapper .left-footer .footer-nav {
  padding-left: 80px;
  width: 100%;
}
footer.footer-section .footer-wrapper .left-footer .footer-nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.8rem;
}
footer.footer-section .footer-wrapper .left-footer .footer-nav ul li .selected-page {
  color: #eb7439;
  font-weight: 600;
}
footer.footer-section .footer-wrapper .left-footer .footer-nav ul li:first-of-type {
  color: #eb7439;
  font-weight: 600;
}
footer.footer-section .footer-wrapper .contact {
  text-transform: uppercase;
  font-weight: 600;
}
footer.footer-section .footer-wrapper .contact .newsletter {
  margin-bottom: 25px;
}
footer.footer-section .footer-wrapper .contact .newsletter h3 {
  margin-bottom: 10px;
}
footer.footer-section .footer-wrapper .contact .newsletter input {
  min-height: 25px;
}
footer.footer-section .footer-wrapper .contact .newsletter button {
  background-color: #439c95;
  border: none;
  padding: 5px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 600;
}
footer.footer-section .footer-wrapper .contact .social-media-icons .follow-us {
  margin-bottom: 10px;
}
footer.footer-section .footer-wrapper .contact .social-media-icons .social-icon {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  color: #439c95;
}

@media (max-width: 1050px) {
  section.services-section .services-wrapper .services {
    padding: 10px;
  }

  section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-img {
    display: none;
  }

  section.news-section .news-wrapper article {
    padding: 10px;
  }
}
@media (max-width: 1010px) {
  header.header-section .header-wrapper {
    justify-content: center;
  }
  header.header-section .header-wrapper .header-right {
    display: none;
  }

  section.titles-section {
    min-height: 200px;
  }
  section.titles-section .titles {
    padding: 30px 50px;
  }
  section.titles-section .titles h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  section.titles-section .titles p {
    font-size: 1rem;
  }

  section.services-section .services-wrapper {
    padding: 30px;
    flex-flow: row wrap;
    justify-content: center;
  }
  section.services-section .services-wrapper .services .services-paragraph p {
    text-align: center;
  }

  section.portfolio-section {
    min-height: 300px;
  }
  section.portfolio-section .portfolio-wrapper {
    padding: 30px;
    text-align: center;
  }
  section.portfolio-section .portfolio-wrapper .portfolio-resume {
    padding: 0;
    flex-direction: column;
  }
  section.portfolio-section .portfolio-wrapper .portfolio-resume .portfolio-link {
    margin: 20px auto;
  }
  section.portfolio-section .portfolio-wrapper .portfolio-examples {
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
  }

  section.news-section .news-wrapper {
    flex-flow: row wrap;
    justify-content: center;
  }

  footer.footer-section .footer-wrapper {
    padding: 30px;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer.footer-section .footer-wrapper .left-footer {
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    margin-bottom: 25px;
  }
  footer.footer-section .footer-wrapper .left-footer .company-information {
    text-align: center;
  }
  footer.footer-section .footer-wrapper .left-footer .company-information h2 {
    margin: 0;
  }
  footer.footer-section .footer-wrapper .left-footer .footer-nav {
    padding: 0;
    text-align: center;
    margin-bottom: 25px;
  }
  footer.footer-section .footer-wrapper .contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  footer.footer-section .footer-wrapper .contact .newsletter {
    margin-bottom: 25px;
    text-align: center;
  }
  footer.footer-section .footer-wrapper .contact .newsletter input {
    display: block;
    margin-bottom: 5px;
  }
  footer.footer-section .footer-wrapper .contact .social-media-icons {
    margin-bottom: 25px;
  }
}
@media (max-width: 633px) {
  footer.footer-section {
    min-height: 400px;
  }
}
@media (max-width: 450px) {
  footer.footer-section .footer-wrapper .left-footer {
    flex-flow: row wrap-reverse;
  }
}
